.chat-main
  .main-header 
    .left-box
      .current-group
        tech
      .member-list
        Member :atsuro
    .edit-button 
      Edit
  .messages
    = render @messages
    .message
      .message-user
        .user__name
          masa
        .date
          2019/11/22(wed) 17:43:01
      .group-message
        おはよう！
        .user__name
          sin
        .date
          2019/11/25(fri) 20:11:30
      .group-message
        こんばんは。
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'